{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wunderbyte_table/component_addfilters
    Template which defines the component to add custom filters.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<span>
    <a
        role="button"
        class="btn btn-light wb_add_filter_button mr-1"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{#str}} addwbtablefilter, local_wunderbyte_table {{/str}}">
        <i class="fa fa-filter" aria-hidden="true"></i>
    </a>
</span>
