{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wunderbyte_table/viewtable
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array with values.
    * opengames - array: empty array, will be filled with JS.
    * finishedgames - array: empty array, will be filled with JS.
    * highscores - array: empty array, will be filled with JS.

    Example context (json):
    {
       "idstring": "sdkjafjlsadjflasjdklf",
       "encodedtable": "fdaskjfdjalsdjfkldsjflsajflksdjfklasdjflkdasjljkdfsalkjfoweijfoeisjgdklyjglky"
    }

}}

{{#print}}
    <form method="post" action="{{baseurl}}" class="dataformatselector m-1">
        <div class="form-inline text-xs-right">
            <input type="hidden" name="sesskey" value="{{sesskey}}">
            <input type="hidden" name="idstring" value="{{idstring}}">
            <input type="hidden" name="encodedtable" value="{{encodedtable}}">
            <label for="downloadtype_{{name}}" class="mr-1">{{#str}} downloadas, local_wunderbyte_table {{/str}}</label>
            <select name="{{idstring}}" id="downloadtype_{{idstring}}" class="form-control custom-select mr-1">
            </select>
            <button type="submit" class="btn btn-secondary">{{#str}} print, local_wunderbyte_table {{/str}}</button>
            {{#params}}
                <input type="hidden" name="{{name}}" value="{{value}}">
            {{/params}}
        </div>
    </form>
    <form method="post" action="{{baseurl}}" class="dataformatselector m-1">
        <div class="form-inline text-xs-right">
            <input type="hidden" name="sesskey" value="q1XBQYbFV7">
            <input type="hidden" name="idstring" value="{{idstring}}">
            <input type="hidden" name="encodedtable" value="{{encodedtable}}">
            <input type="hidden" name="whichview" value="showactive">
            <label for="downloadtype_download" class="mr-1">{{#str}} downloadastype, local_wunderbyte_table {{/str}}<</label>
            <select name="download" id="downloadtype_download" class="form-control custom-select mr-1">
                    <option value="csv">Komma separierte Werte (.csv)</option>
                    <option value="excel">Microsoft Excel (.xlsx)</option>
                    <option value="html">HTML-Tabelle</option>
                    <option value="json">Javascript Object Notation (.json)</option>
                    <option value="ods">OpenDocument (.ods)</option>
                    <option value="pdf">Portable Document Format (.pdf)</option>
            </select>
            <button type="submit" class="btn btn-secondary"></button>
        </div>
    </form>
{{/print}}