{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wunderbyte_table/viewtable
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array with values.
    * opengames - array: empty array, will be filled with JS.
    * finishedgames - array: empty array, will be filled with JS.
    * highscores - array: empty array, will be filled with JS.

    Example context (json):
    {
       "idstring": "sdkjafjlsadjflasjdklf",
       "encodedtable": "fdaskjfdjalsdjfkldsjflsajflksdjfklasdjflkdasjljkdfsalkjfoweijfoeisjgdklyjglky"
    }

}}

{{#filter}}
    <div class="wunderbyteTableFilter">
        {{#categories}}
    <div class="border rounded mb-4">
        <div class="form-group m-0">
        <h4 class="mb-0">
        <button class="p-4 align-items-center collapse-accordion-toggle text-left {{collapsed}}" name="filterbtn-{{uniqueid}}"
        data-toggle="collapse" href="#id_collapse_{{columnname}}" role="button"
        {{#expanded}}
            aria-expanded="true"
        {{/expanded}}
        {{^expanded}}
            aria-expanded="false"
        {{/expanded}}
        aria-controls="id_collapse_{{columnname}}">
            <div class="position-relative d-flex ftoggler align-items-center position-relative mr-1">
                <div class="d-flex align-self-stretch align-items-center mb-0 filtertitle" aria-hidden="true">
                    {{name}}
                </div>
                <span class="ml-auto">
                        <!-- Icon -->
                        <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="15" height="2" fill="currentColor"></rect>
                        </svg>

                        <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H15V9H0V7Z" fill="currentColor"></path>
                            <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"></path>
                        </svg>

                </span>
            </div>
        </button>
        </h4>
        </div>
            <div class="collapse mt-2 {{show}}" id="id_collapse_{{columnname}}">
                {{#default}}
                <ul class="wunderbyterFilterList pt-2">
                    {{#values}}
                        <li class="form-check">
                                <input class="filterelement form-check-input" type="checkbox" value="{{value}}" id="{{key}}{{columnname}}{{idstring}}" {{checked}} name="{{category}}" data-action="csshide" data-key="{{key}}" data-targetvalue="{{value}}">
                                <label class="form-check-label" for="{{key}}{{columnname}}{{idstring}}">
                                    {{key}}
                                </label>
                        </li>
                    {{/values}}
                </ul>
                {{/default}}
                {{#datepicker}}
                    {{#datepickers}}
                        <form class="datepickerform">
                            <input class="filterelement" type="checkbox" id="{{label}}{{columnname}}{{idstring}}" {{checked}} data-action="csshide" name="{{columnname}}" value="datecheckbox" data-dateelement = "dateelement" data-filtername="{{label}}" data-operator="{{operator}}">
                            <label class="filterelement" for="{{label}}{{columnname}}{{idstring}}">{{checkboxlabel}}</label>
                            <div>{{label}}</div>
                            <label class="filterelement" for="datepicker {{label}}"></label>
                            <input class="filterelement" type="date" id="{{label}}{{columnname}}{{idstring}}" value="{{datereadable}}" data-timestamp="{{timestamp}}" name="{{columnname}}" data-dateelement = "dateelement" data-filtername="{{label}}">
                            <label class="filterelement" for="timepicker {{label}}"></label>
                            <input class="filterelement" type="time" id="{{label}}{{columnname}}{{idstring}}" name="{{columnname}}" value="{{timereadable}}" data-dateelement = "dateelement" data-filtername="{{label}}">
                        </form>
                    {{/datepickers}}
                {{/datepicker}}
            </div>
        </div>
        {{/categories}}
    </div>
{{/filter}}
