{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wunderbyte_table/actionbutton
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:

    Example context (json):
    {
        "tab1_name": "Tab 1",
        "tab2_name": "Tab 2",
        "tab3_name": "Tab 3",
        "tab4_name": "Tab 4",
        "table1": "<table><tr><td>Table 1 Data</td></tr></table>",
        "table2": "<table><tr><td>Table 2 Data</td></tr></table>",
        "table3": "<table><tr><td>Table 3 Data</td></tr></table>",
        "table4": "<table><tr><td>Table 4 Data</td></tr></table>"
    }

}}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link {{#table1}}active{{/table1}}" id="{{tab1_name}}" data-toggle="tab" href="#{{tab1_name}}" role="tab" aria-controls="home" aria-selected="true">{{tab1_name}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{^table1}}active{{/table1}}" id="{{tab2_name}}" data-toggle="tab" href="#{{tab2_name}}" role="tab" aria-controls="profile" aria-selected="false">{{tab2_name}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="{{tab3_name}}" data-toggle="tab" href="#{{tab3_name}}" role="tab" aria-controls="messages" aria-selected="false">{{tab3_name}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="{{tab4_name}}" data-toggle="tab" href="#{{tab4_name}}" role="tab" aria-controls="settings" aria-selected="false">{{tab4_name}}</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane {{#table1}}active{{/table1}}" id="{{tab1_name}}" role="tabpanel" aria-labelledby="home-tab">{{{table1}}}</div>
    <div class="tab-pane {{^table1}}active{{/table1}}" id="{{tab2_name}}" role="tabpanel" aria-labelledby="profile-tab">{{{table2}}}</div>
    <div class="tab-pane" id="{{tab3_name}}" role="tabpanel" aria-labelledby="messages-tab">{{{table3}}}</div>
    <div class="tab-pane" id="{{tab4_name}}" role="tabpanel" aria-labelledby="settings-tab">{{{table4}}}</div>
  </div>