{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wunderbyte_table/viewtable
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array with values.
    * opengames - array: empty array, will be filled with JS.
    * finishedgames - array: empty array, will be filled with JS.
    * highscores - array: empty array, will be filled with JS.

    Example context (json):
    {
       "idstring": "sdkjafjlsadjflasjdklf",
       "encodedtable": "fdaskjfdjalsdjfkldsjflsajflksdjfklasdjflkdasjljkdfsalkjfoweijfoeisjgdklyjglky"
    }

}}

{{#filter}}
    <aside class="wunderbyteTableFilter">
        {{#categories}}
        <div class="form-group border p-2" name="{{name}}">
        <legend class="d-flex align-items-center" id="yui_3_17_2_1_1653475522789_1039">
            <div class="position-relative d-flex ftoggler align-items-center position-relative mr-1" id="yui_3_17_2_1_1653475522789_1038">
                <a data-toggle="collapse" href="#id_collapse_{{name}}" role="button" aria-expanded="false" aria-controls="id_collapse_{{name}}" class="btn btn-icon mr-1 icons-collapse-expand stretched-link fheader" id="collapseElement-2">
                    <span class="expanded-icon icon-no-margin p-2" title="Collapse">
                        <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="collapsed-icon icon-no-margin p-2" title="Expand">
                        <span class="dir-rtl-hide"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i></span>
                        <span class="dir-ltr-hide"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i></span>
                    </span>
                    <span class="sr-only">{{name}}</span>
                </a>
                <h4 class="d-flex align-self-stretch align-items-center mb-0" aria-hidden="true">
                    {{name}}
                </h4>
            </div>
        </legend>
            <div class="collapse show" id="id_collapse_{{name}}">
            {{#values}}
                {{#.}}
                <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{value}}" id="{{key}}" name="{{category}}" data-action="csshide" data-key="sports" data-targetvalue="{{value}}">
                        <label class="form-check-label" for="{{key}}">
                            {{key}}
                        </label>
                </div>
                {{/.}}
            {{/values}}
            </div>
            </div>

        {{/categories}}
    </aside>
{{/filter}}
