{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wunderbyte_table/table
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array with values.
    * opengames - array: empty array, will be filled with JS.
    * finishedgames - array: empty array, will be filled with JS.
    * highscores - array: empty array, will be filled with JS.

    Example context (json):
    {
      "datafields": [
        {
          "key": "dfield1",
          "value": "dvalue1"
        },
        {
          "key": "dfield2",
          "value": "dvalue2"
        }
      ],
      "cardbody": [
        {
          "columnclass": "columnclass1",
          "value": "Column 1 Value",
          "columnkeyclass": "columnkeyclass1",
          "columnvalueclass": "columnvalueclass1"
        },
        {
          "columnclass": "columnclass2",
          "value": "Column 2 Value",
          "columnkeyclass": "columnkeyclass2",
          "columnvalueclass": "columnvalueclass2"
        }
      ]
    }

}}

<tr class="table row"
{{#datafields}}
    data-{{key}}="{{value}}"
{{/datafields}}>
      {{#cardbody}}
        {{#columnclass}}<td class="{{.}} {{key}}">{{/columnclass}}
          <span {{^value}} style="display:none" {{/value}}>
          {{#columniclassbefore}}
            <i class="{{.}}" aria-hidden="true"></i>
          {{/columniclassbefore}}
          </span>
          {{#columnkeyclass}}<span class="key {{.}}">{{/columnkeyclass}}
            {{^keystring}}
            {{{key}}}
          {{/keystring}}
          {{#keystring}}
            {{.}}
          {{/keystring}}:
          {{#columnkeyclass}}</span>{{/columnkeyclass}}
          <span {{^value}} style="display:none" {{/value}} class="{{columnvalueclass}} ">
            {{{value}}}
          {{#columnvalueclass}}</span>{{/columnvalueclass}}
          <span {{^value}} style="display:none" {{/value}}>
          {{#columniclassafter}}
            <i class="value {{.}}" aria-hidden="true"></i>
          {{/columniclassafter}}
          </span>
        {{#columnclass}}</td>{{/columnclass}}
      {{/cardbody}}
</tr>